.u-section-1 {
    min-height: 969px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 969px;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none none solid;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 50px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    font-size: 1.25rem;
    font-weight: 700;
    border-style: none;
    margin: 50px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    background-image: none;
    font-size: 1.25rem;
    font-weight: 700;
    border-style: none;
    margin: 50px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 969px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-list-1 {
    width: 831px;
    grid-template-rows: auto auto auto;
    margin: 21px auto 0;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 188px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 0 30px 6px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 21px 18px 0 513px;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    letter-spacing: 0px;
    margin: -39px 151px 0 115px;
  }
  
  .u-section-1 .u-text-3 {
    font-style: italic;
    margin: -6px 0 0 115px;
  }
  
  .u-section-1 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin: -69px 106px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin: 22px 0 0 115px;
  }
  
  .u-section-1 .u-icon-3 {
    height: 89px;
    width: 64px;
    margin: -82px auto 0 12px;
  }
  
  .u-section-1 .u-btn-4 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: -6px 18px 0 auto;
    margin-bottom: 10px;
  }
  
  .u-section-1 .u-list-2 {
    width: 831px;
    grid-template-rows: auto auto auto;
    margin: 21px auto 0;
  }
  
  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 200px;
  }
  
  .u-section-1 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 6px 16px;
  }
  
  .u-section-1 .u-text-5 {
    margin: 21px 32px 0 120px;
  }
  
  .u-section-1 .u-text-6 {
    font-weight: 700;
    letter-spacing: 0px;
    margin: -39px 164px 0 129px;
  }
  
  .u-section-1 .u-text-7 {
    font-style: italic;
    margin: -4px 14px 0 129px;
  }
  
  .u-section-1 .u-icon-4 {
    width: 40px;
    height: 40px;
    margin: -67px 132px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-icon-5 {
    height: 79px;
    width: 108px;
    margin: -26px auto 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
    margin: -24px 14px 0 129px;
  }
  
  .u-section-1 .u-btn-5 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 14px 32px 0 auto;
  }
  
  .u-section-1 .u-list-3 {
    width: 831px;
    grid-template-rows: auto auto auto;
    margin: 21px auto 0;
  }
  
  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 202px;
  }
  
  .u-section-1 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 0 16px 6px;
  }
  
  .u-section-1 .u-icon-6 {
    width: 40px;
    height: 40px;
    margin: 21px 134px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-9 {
    margin: -39px 32px 0 648px;
  }
  
  .u-section-1 .u-text-10 {
    font-weight: 700;
    letter-spacing: 0px;
    margin: -39px 164px 0 129px;
  }
  
  .u-section-1 .u-text-11 {
    font-style: italic;
    margin: -4px 14px 0 129px;
  }
  
  .u-section-1 .u-icon-7 {
    height: 79px;
    width: 108px;
    margin: -53px auto 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-text-12 {
    font-size: 1.125rem;
    margin: -24px 14px 0 129px;
  }
  
  .u-section-1 .u-btn-6 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: -9px 32px 0 auto;
  }
  
  .u-section-1 .u-list-4 {
    width: 831px;
    grid-template-rows: auto auto auto;
    margin: 21px auto 0;
  }
  
  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 200px;
  }
  
  .u-section-1 .u-list-item-4 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 6px 16px;
  }
  
  .u-section-1 .u-text-13 {
    margin: 21px 32px 0 655px;
  }
  
  .u-section-1 .u-text-14 {
    font-weight: 700;
    letter-spacing: 0px;
    margin: -39px 353px 0 129px;
  }
  
  .u-section-1 .u-text-15 {
    font-style: italic;
    margin: -4px 14px 0 129px;
  }
  
  .u-section-1 .u-icon-8 {
    width: 40px;
    height: 40px;
    margin: -68px 134px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-icon-9 {
    height: 79px;
    width: 108px;
    margin: -25px auto 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-text-16 {
    font-size: 1.125rem;
    margin: -24px 14px 0 129px;
  }
  
  .u-section-1 .u-btn-7 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 14px 32px 0 auto;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 989px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 1px;
      margin-bottom: 1px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      background-position: 50% 50%;
      min-height: 987px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 987px;
    }
  
    .u-section-1 .u-list-1 {
      width: 752px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-top: 6px;
      padding-left: 22px;
      padding-right: 22px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 8px;
      margin-left: 460px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 120px;
      margin-left: 84px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 8px;
      margin-left: 84px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: 108px;
    }
  
    .u-section-1 .u-text-4 {
      width: auto;
      margin-top: 29px;
      margin-right: 130px;
      margin-left: 84px;
    }
  
    .u-section-1 .u-icon-3 {
      margin-top: -88px;
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-4 {
      margin-top: 16px;
      margin-right: 17px;
    }
  
    .u-section-1 .u-list-2 {
      width: 752px;
    }
  
    .u-section-1 .u-repeater-2 {
      min-height: 173px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding: 0;
    }
  
    .u-section-1 .u-text-5 {
      margin-top: 16px;
      margin-right: 16px;
      margin-left: 80px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 141px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 16px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: 124px;
    }
  
    .u-section-1 .u-icon-5 {
      margin-top: -23px;
    }
  
    .u-section-1 .u-text-8 {
      width: auto;
      margin-top: -32px;
      margin-right: 184px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-btn-5 {
      margin-top: -9px;
      margin-right: 41px;
    }
  
    .u-section-1 .u-list-3 {
      width: 752px;
      margin-top: 23px;
    }
  
    .u-section-1 .u-repeater-3 {
      min-height: 240px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 16px;
    }
  
    .u-section-1 .u-icon-6 {
      margin-top: 49px;
      margin-right: 118px;
    }
  
    .u-section-1 .u-text-9 {
      margin-right: 16px;
      margin-left: 617px;
    }
  
    .u-section-1 .u-text-10 {
      width: auto;
      margin-right: 276px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-text-11 {
      width: auto;
      margin-top: 5px;
      margin-right: -74px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-icon-7 {
      margin-top: -56px;
      margin-left: -10px;
    }
  
    .u-section-1 .u-text-12 {
      width: auto;
      margin-top: -23px;
      margin-right: 8px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-btn-6 {
      margin-top: 5px;
      margin-right: 38px;
      margin-bottom: -5px;
    }
  
    .u-section-1 .u-list-4 {
      width: 752px;
    }
  
    .u-section-1 .u-repeater-4 {
      min-height: 202px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 18px;
    }
  
    .u-section-1 .u-text-13 {
      margin-right: 16px;
      margin-left: 624px;
    }
  
    .u-section-1 .u-text-14 {
      margin-right: 330px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-text-15 {
      width: auto;
      margin-top: 4px;
      margin-right: 376px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-icon-8 {
      margin-top: -76px;
      margin-right: 126px;
    }
  
    .u-section-1 .u-icon-9 {
      margin-top: -30px;
      margin-left: -10px;
    }
  
    .u-section-1 .u-text-16 {
      width: auto;
      margin-top: -6px;
      margin-right: 376px;
      margin-left: 106px;
    }
  
    .u-section-1 .u-btn-7 {
      margin-top: 4px;
      margin-right: 38px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 288.766px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 301px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 53px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 45px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-top: 45px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-list-1 {
      width: 576px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 14px;
      padding-right: 14px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 284px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-right: 293px;
      margin-left: 101px;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-right: 229px;
      margin-left: 101px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: 98px;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: 26px;
      margin-right: 59px;
      margin-left: 97px;
    }
  
    .u-section-1 .u-icon-3 {
      margin-top: -113px;
      margin-left: 6px;
    }
  
    .u-section-1 .u-btn-4 {
      margin-right: 8px;
      margin-bottom: 20px;
    }
  
    .u-section-1 .u-list-2 {
      width: 576px;
    }
  
    .u-section-1 .u-text-5 {
      width: auto;
      margin-right: 26px;
      margin-left: 100px;
      margin-top: 20px;
    }
  
    .u-section-1 .u-text-6 {
      width: auto;
      margin-top: -43px;
      margin-right: 312px;
      margin-left: 116px;
    }
  
    .u-section-1 .u-text-7 {
      width: auto;
      margin-top: -6px;
      margin-right: 201px;
      margin-left: 116px;
    }
  
    .u-section-1 .u-icon-4 {
      margin-top: -61px;
    }
  
    .u-section-1 .u-icon-5 {
      margin-top: -40px;
    }
  
    .u-section-1 .u-text-8 {
      margin-top: -24px;
      margin-right: -26px;
      margin-left: 116px;
    }
  
    .u-section-1 .u-btn-5 {
      margin-top: 0;
      margin-right: 26px;
    }
  
    .u-section-1 .u-list-3 {
      width: 576px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-bottom: 0;
    }
  
    .u-section-1 .u-icon-6 {
      margin-top: 40px;
      margin-right: 117px;
    }
  
    .u-section-1 .u-text-9 {
      width: auto;
      margin-top: -40px;
      margin-right: 21px;
      margin-left: 448px;
    }
  
    .u-section-1 .u-text-10 {
      margin-right: 226px;
      margin-left: 115px;
    }
  
    .u-section-1 .u-text-11 {
      margin-top: 0;
      margin-right: 364px;
      margin-left: 108px;
    }
  
    .u-section-1 .u-icon-7 {
      margin-top: -66px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-12 {
      margin-top: -13px;
      margin-right: 7px;
      margin-left: 108px;
    }
  
    .u-section-1 .u-btn-6 {
      margin-top: 23px;
      margin-right: 21px;
      margin-bottom: 0;
    }
  
    .u-section-1 .u-list-4 {
      width: 576px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-top: 18px;
    }
  
    .u-section-1 .u-text-13 {
      width: auto;
      margin-top: 13px;
      margin-right: 15px;
      margin-left: 457px;
    }
  
    .u-section-1 .u-text-14 {
      width: auto;
      margin-right: 189px;
      margin-left: 108px;
    }
  
    .u-section-1 .u-text-15 {
      margin-top: 0;
      margin-right: 170px;
      margin-left: 108px;
    }
  
    .u-section-1 .u-icon-8 {
      margin-top: -71px;
      margin-right: 119px;
    }
  
    .u-section-1 .u-icon-9 {
      margin-top: -32px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-16 {
      margin-top: -15px;
      margin-right: 176px;
    }
  
    .u-section-1 .u-btn-7 {
      margin-top: -1px;
      margin-right: 15px;
    }
  }
  
  /*@media (max-width: 767px) {
     .u-section-1 {
      min-height: 1379px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 540px) / 2) + 590px);
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 273px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 46px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 35px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-top: 35px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 1105px;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 206px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-right: 14px;
      margin-left: 410px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 288px;
      margin-left: 87px;
    }
  
    .u-section-1 .u-text-3 {
      margin-top: -1px;
      margin-right: 209px;
      margin-left: 93px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-top: -72px;
      margin-right: 110px;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: 29px;
      margin-right: 8px;
      margin-left: 89px;
    }
  
    .u-section-1 .u-icon-3 {
      margin-left: 7px;
    }
  
    .u-section-1 .u-btn-4 {
      margin-top: 19px;
    }
  
    .u-section-1 .u-list-2 {
      width: 540px;
      margin-top: 16px;
    }
  
    .u-section-1 .u-repeater-2 {
      min-height: 161px;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 25px;
      margin-left: 406px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 204px;
      margin-left: 98px;
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 183px;
      margin-left: 98px;
    }
  
    .u-section-1 .u-icon-5 {
      margin-left: -6px;
    }
  
    .u-section-1 .u-text-8 {
      margin-top: -22px;
      margin-right: 0;
      margin-left: 98px;
    }
  
    .u-section-1 .u-btn-5 {
      margin-top: -10px;
      margin-right: 15px;
    }
  
    .u-section-1 .u-list-3 {
      width: 540px;
      margin-top: 16px;
    }
  
    .u-section-1 .u-text-9 {
      margin-right: 19px;
      margin-left: 424px;
    }
  
    .u-section-1 .u-text-10 {
      margin-top: -38px;
      margin-right: 118px;
      margin-left: 97px;
    }
  
    .u-section-1 .u-text-11 {
      margin-top: 2px;
      margin-right: 21px;
      margin-left: 97px;
    }
  
    .u-section-1 .u-icon-7 {
      margin-top: -56px;
    }
  
    .u-section-1 .u-text-12 {
      margin-top: -19px;
      margin-right: 17px;
      margin-left: 96px;
    }
  
    .u-section-1 .u-btn-6 {
      margin-top: 13px;
      margin-right: 17px;
    }
  
    .u-section-1 .u-list-4 {
      width: 540px;
      margin-top: 32px;
    }
  
    .u-section-1 .u-repeater-4 {
      min-height: 185px;
    }
  
    .u-section-1 .u-text-13 {
      margin-top: 16px;
      margin-right: 20px;
      margin-left: 223px;
    }
  
    .u-section-1 .u-text-14 {
      margin-right: 216px;
      margin-left: 95px;
    }
  
    .u-section-1 .u-text-15 {
      margin-right: 148px;
      margin-left: 95px;
    }
  
    .u-section-1 .u-icon-8 {
      margin-top: -72px;
      margin-right: 122px;
    }
  
    .u-section-1 .u-icon-9 {
      margin-top: -34px;
      margin-left: -13px;
    }
  
    .u-section-1 .u-text-16 {
      margin-top: -13px;
      margin-right: -7px;
      margin-left: 95px;
    }
  
    .u-section-1 .u-btn-7 {
      margin-top: -9px;
      margin-right: 17px;
    }
  }
  */
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 980px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-bottom: 0;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 243px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 980px;
    }
  
    .u-section-1 .u-list-1 {
      width: 370px;
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 172px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding: 0;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 22px;
      margin-right: 21px;
      margin-left: 223px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -31px;
      margin-right: 125px;
      margin-left: 64px;
    }
  
    .u-section-1 .u-text-3 {
      margin-top: -3px;
      margin-right: 58px;
      margin-left: 64px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-top: -60px;
      margin-right: 78px;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: 11px;
      margin-right: 14px;
      margin-left: 64px;
    }
  
    .u-section-1 .u-icon-3 {
      height: 71px;
      width: 51px;
      margin-top: -99px;
      margin-left: 8px;
      padding: 0;
    }
  
    .u-section-1 .u-btn-4 {
      margin-top: 9px;
      margin-right: 21px;
      margin-bottom: 20px;
    }
  
    .u-section-1 .u-list-2 {
      width: 370px;
      margin-top: 15px;
    }
  
    .u-section-1 .u-repeater-2 {
      min-height: 151px;
    }
  
    .u-section-1 .u-text-5 {
      margin-top: 33px;
      margin-right: 10px;
      margin-left: 65px;
    }
  
    .u-section-1 .u-text-6 {
      margin-top: -26px;
      margin-right: 131px;
      margin-left: 61px;
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 200px;
      margin-left: 61px;
    }
  
    .u-section-1 .u-icon-4 {
      margin-right: 78px;
    }
  
    .u-section-1 .u-icon-5 {
      height: 62px;
      width: 84px;
      margin-top: -25px;
      margin-left: -11px;
    }
  
    .u-section-1 .u-text-8 {
      margin-top: -19px;
      margin-right: 101px;
      margin-left: 61px;
    }
  
    .u-section-1 .u-btn-5 {
      margin-top: 0;
      margin-right: 19px;
    }
  
    .u-section-1 .u-list-3 {
      width: 370px;
      margin-top: 15px;
    }
  
    .u-section-1 .u-repeater-3 {
      min-height: 221px;
    }
  
    .u-section-1 .u-icon-6 {
      margin-top: 11px;
      margin-right: 79px;
    }
  
    .u-section-1 .u-text-9 {
      margin-top: -32px;
      margin-right: 13px;
      margin-left: 281px;
    }
  
    .u-section-1 .u-text-10 {
      margin-top: -27px;
      margin-right: 140px;
      margin-left: 66px;
    }
  
    .u-section-1 .u-text-11 {
      margin-top: 0;
      margin-right: 8px;
      margin-left: 66px;
    }
  
    .u-section-1 .u-icon-7 {
      height: 65px;
      width: 89px;
      margin-top: -59px;
      margin-left: -12px;
    }
  
    .u-section-1 .u-text-12 {
      margin-top: -10px;
      margin-right: 13px;
      margin-left: 63px;
    }
  
    .u-section-1 .u-btn-6 {
      margin-top: 11px;
      margin-right: 19px;
    }
  
    .u-section-1 .u-list-4 {
      width: 370px;
      margin-top: 15px;
    }
  
    .u-section-1 .u-repeater-4 {
      min-height: 148px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  
    .u-section-1 .u-text-13 {
      margin-top: 7px;
      margin-right: 8px;
      margin-left: 39px;
    }
  
    .u-section-1 .u-text-14 {
      margin-top: -26px;
      margin-right: 31px;
      margin-left: 77px;
    }
  
    .u-section-1 .u-text-15 {
      margin-top: -2px;
      margin-right: 13px;
      margin-left: 77px;
    }
  
    .u-section-1 .u-icon-8 {
      margin-top: -63px;
      margin-right: 77px;
    }
  
    .u-section-1 .u-icon-9 {
      height: 61px;
      width: 83px;
      margin-top: -27px;
      margin-left: -11px;
    }
  
    .u-section-1 .u-text-16 {
      margin-top: -19px;
      margin-right: 58px;
      margin-left: 75px;
    }
  
    .u-section-1 .u-btn-7 {
      margin-top: 1px;
      margin-right: 19px;
    }
  }


  .fa-user {
    width:100% !important;
    height:100% !important;
    color:#d6355b;
  }