.chart{
    height: 350px !important;
}

.foodIcon{
    background-color:#ffdd00 !important;
    border-color:#ffdd00 !important;
}

.waterIcon{
    background-color:#00afb9 !important;
    border-color: #00afb9 !important;
}

.trainingIcon{
    background-color:#a7c957 !important;
    border-color: #a7c957 !important;
}
