.navbar {
    /*background-color: #b5e48c !important;*/
    background-color: #b9e769 !important;
    width:100%;
    
}

.nav-item a{
    color:#fe6d73 !important;
    /*color:#ffffff !important;*/
}

.active a {
    font-weight:bold !important;
    /*text-decoration:underline solid #ffffff 2px!important;*/
    text-decoration:underline solid #fe6d73 2px!important;
}

.nav-item a:hover {
    font-weight:bolder !important;
}

.logo {
    height:60px;
}

#menu-left {
    background-color: #b9e769;
    float:left;
    width:15%;
    border-top: 1px solid #fefae0;
    border-bottom: 1px solid #fefae0;
}

#content{
    width: 85%;
    background-color:#f0ffeb;
    /*float:right;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    width: 100%;
    background-color:#b9e769;
    /*color:#ffffff;*/
    color:#fe6d73;
    text-align:center;
    font-style: italic;
}

.chart{
    height: 350px !important;
}

#content-charts{
    width: auto;
    margin: 30px;
    background-color:#f0ffeb;
    /*float:right;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



body {
    background-color:#f0ffeb !important;
}

.foodIcon{
    background-color:#b9e769 !important;
    border-color:#b9e769 !important;
    
}

.waterIcon{
    background-color:#07beb8 !important;
    border-color: #07beb8 !important;
}

.trainingIcon{
    background-color:#fe6d73 !important;
    border-color: #fe6d73 !important;
}
